div.status {
  padding: 2px;
  margin-bottom:4px;
  height: 14px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
}

div.status.waiting {
  background-color: lightgray;
  border-color: gray;
}

div.status.connected {
  background-color: #CCFFCC;
  border-color: #88CC88;
  color: #004400;
}

div.status.disconnected {
  background-color: #FFCCCC;
  border-color: red;
  color: #440000;
}

#title-div {
  text-align: center;
}

#title {
  margin: 0px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", serif;
  font-size: 20px;
}

#author {
  margin: 0px;
  font-family: Parkavenue, cursive;
}

#board-outer-wrapper {
  margin-top: 4px;
  text-align: center;
}

#board-wrapper {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}

div.square {
  position:relative;
  float: left;
  left: 0px;
  top: 0px;
  width: 26px;
  height: 26px;
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

div.black {
  background-color: black;
  border-color: black;
}

div.white {
  background-color: white;
  border-color: black;
}

div.selected.black {
  background-color: #EE0000;
  border-color: darkred;
  color: red;
}

div.selected.white {
  background-color: pink;
  border-color: red;
}

p.number {
  margin: 0px;
  line-height: 8px;
  font-size: 10px;
}

p.contents {
  margin: 0px;
  margin-left: 8px;
  line-height: 18px;
  font-size: 20px;
  text-transform: uppercase;
}

form {
  position: relative;
  top: 10px;
}

input {
  width: 180px;
}

.hidden {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  width: 1px;
  height: 1px;
}
