div.status {
  padding: 2px;
  margin-bottom:4px;
  height: 14px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
}

div.status.waiting {
  background-color: lightgray;
  border-color: gray;
}

div.status.connected {
  background-color: #CCFFCC;
  border-color: #88CC88;
  color: #004400;
}

div.status.disconnected {
  background-color: #FFCCCC;
  border-color: red;
  color: #440000;
}

#title-div {
  text-align: center;
}

#title {
  margin: 0px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", serif;
  font-size: 20px;
}

#author {
  margin: 0px;
  font-family: Parkavenue, cursive;
}

#board-outer-wrapper {
  margin-top: 2px;
  text-align: center;
}

#board-wrapper {
  margin-top: 4px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}

#clues {
  float: left;
}

.clue-header {
  background-color: black;
  font-family: Verdana, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
}

.clue-number {
  float: left;
  width: 32px;
  padding-right: 4px;
  text-align: right;
  font-weight: bold;
}

.clue {
  float: left;
  width: 192px;
  white-space: normal;
}

.inactive-clue {
  background-color: white;
  border-color: black;
  color: black;
}

#board {
  float: right;
}

div.square {
  position:relative;
  float: left;
  left: 0px;
  top: 0px;
  width: 26px;
  height: 26px;
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

div.white {
  background-color: white;
  border-color: black;
}

div.black {
  background-color: black;
  border-color: black;
}

div.other-highlight {
  background-color: #C4C4C4;
  border-color: #666666;
}

div.other-cursor {
  background-color: #999999;
  border-color: #444444;
}

div.other-cursor.black {
  background-color: #222222;
  border-color: #000000;
}

div.highlight {
  background-color: #FFAAAA;
  border-color: red;
}

div.cursor {
  background-color: #FF6666;
  border-color: #880000;
}

div.cursor.black {
  background-color: #AA0000;
  border-color: #440000;
}

p.number {
  margin: 0px;
  padding-left: 1px;
  line-height: 10px;
  font-size: 10px;
  pointer-events: none;
}

p.contents {
  margin: 0px;
  margin-left: 6px;
  line-height: 15px;
  font-size: 20px;
  text-transform: uppercase;
  pointer-events: none;
}

*:focus {
  outline: none;
}

.center-spaced {
  margin-top: 16px;
  text-align: center;
}

form {
  position: relative;
  top: -12px;
}

input {
  padding-top: 4px;
  width: 180px;
}

.hidden {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  width: 1px;
  height: 1px;
}
